

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  margin: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#optionsTable {
    width: 100%;
    border-collapse: collapse;
}

#tableDiv {
    border:solid black 2px;
    border-radius: 20px;
    min-width: 94em;
    width: 99vw;
}

tr {
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

td {
    border: hidden;
    text-align: center;  
    line-height: 2rem;
    white-space:nowrap;
    max-width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    font-family: none;
}

td > span > span {
    border-color:transparent;
    box-shadow:0 0 0 2px #000;
    border-radius: 40px;
    padding:5px;
    background-color: white;
    width: 100%;
}



#btnDelSpan {
    box-shadow: none;
    background-color: transparent;
}

td > span {
    padding: 0.67rem 0.5rem;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

tr:nth-child(even) > td > span {
    background-color: rgba(216, 216, 216, 0.979);
}

td:first-child > span {
    padding:0.67rem 0.5rem 0.67rem 0.8rem;
    margin-left: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left:solid black 2px;

}

td:last-child > span {
    padding:0.67rem 0.8rem 0.67rem 0.5rem;
    border-top-right-radius: 25px;
    margin-right: 5px;
    border-bottom-right-radius: 25px;
    border-right:solid black 2px;
}

.dateInput, .expiryInput {
    width: 7.5em;
}

.profitInput {
    width: 4em;
}

.tickerInput {
    width: 4.5em;
}


.callputInput {
    width: 3em;
}

.numConsInput {
    width: 2em;
}

.strikeInput {
    width: 4em;
}


.rrInput {
    width: 5em;
}

.emotionsInput {
    width: 100%;
    flex: 20 1 auto;
    border: hidden;
    display: inline-block;
}

.emotionsCol {
    width: 100%;
    min-width:5em;
    padding-right:1.6rem;
}

.emotionsCol > span {   
    width: 100%;
}

.emotionsCol > span > span {
    display: inline-block;
    width: 100%;
    line-height: 0;
    vertical-align: top;
}

.emotionsDiv {
    display: flex;
    width: 100%;
    white-space: nowrap; /* IMPORTANT THIS IS SO THE ELEMENTS DONT WRAP */
    margin: 0 auto;
    line-height: 0;
    padding: 0 0 0 0;
}

.emotionTagsDiv {
    flex: 1 1 auto;
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 1px;
}

.emotionTag {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.5em;
    text-align: center;
    font-family: Arial;
    font-size: 9pt;
    border:solid black 1px;
    border-radius: 25px;
}

.emotionWord {
    margin-right: 4px;
    margin-left: 6px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: inline-block;
}

.emotionDel {
    font-size: 7pt;
    margin-right: 3px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
}

.emotionDel:hover {
    cursor: pointer;
}


.tradeNotesInput {
    width: 12em;
}

.entryInput, .slInput, .tpInput, .soldInput {
    width: 3em;
}

.tickerInput, .callputInput, .numConsInput, .strikeInput, .rrInput, .entryInput, .slInput, .tpInput, .soldInput, .profitInput {
    text-align: center;
}

input {
    margin:0 auto;
    border-style: hidden;
    font-family: Arial;
}

input:focus {
    outline: none;
}

#btnDelRow {
    border-radius: 100%;
    border: 2px solid black;
    padding: 0 0.1em 0 0.1em;
    background-color: rgb(233, 81, 81);
    color: rgb(255, 255, 255);
}

#btnDelRow:hover  {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(233, 81, 81, 0.719);
}

#btnAddRow {
    margin: 0.5em 0 0 0;
    display: inline-block;
    border-radius: 40px;
    padding: 0.5em;
}